.side_menu {
    grid-area: side-menu;
    background-color: #5c5858;
    margin-left: 15%;
    margin-top: 12px;
    border-radius: 8px;
}
.item {
    color: #d9d2d2;
    text-decoration: none;
    display: block;
    padding:0 25% 0 25%;
    font-size: 24px;
}
.item:hover {
    color: #706e6e;
    transition: 2s;
}
.menu_wrapper {
    padding-top: 10%;
}