.under_img {
    background-color: #5c5858;
    position: relative;
    margin: 40px 0 20px 0;
}
.profile_path_header {
    padding: 0 0 0 12px;
    color: #d9d2d2;
    font-size: 26px;
    margin-top: 40px;

}
