.item {
    color: black;
    display: flex;
    position: relative;
    padding: 12px 0 0 12px;
}
.img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: burlywood;
    margin-right: 10px;
}
.like {
    position: absolute;
    right: 20px;
    color: #d9d2d2;
}
.descr {
    color: #d9d2d2;
}